.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.build
.masi
*.masi
target/
build
*.dll
*.exe
*.log
*.tmp
*.swp

# qt related
*.pro.user*
*.qrc~
*.autosave
*.moc
*.obj
*.o
*.pch
*.pdb
.qt
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeScripts/
Testing/
CTestTestfile.cmake
DartConfiguration.tcl
*.dir/
*.user
*.user.*
*.layout
*.vcxproj*
.env
MasmEditor_autogen/
MasmEditor_automoc/
MasmEditor_qrc/
MasmEditor_qmltypes/
*.rcc
*.qrc.cpp